<!DOCTYPE html>
<html>
    <head>
        <title>Cadastre-se</title>
        <link rel="stylesheet" href="cadastro.component.css" type="text/css">
    </head>

    <body>
        <div class="container">
            <img src="https://uploaddeimagens.com.br/images/003/586/064/full/wine_glass_icon_125583.png"/>
            <h1>CADASTRE-SE</h1>
           <input type="text" name="e" placeholder="email">
           <input type="password" name="s" placeholder="senha">
           <input type="submit" name="" placeholder="entrar">
        </div>
    </body>
</html>
