@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #0e2430;
  height: 620vh;
}

img {
  width: 80%;
}

.fundo-header{
  background-color: #fc3a51;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: xx-large;
  font-family: Montserrat;
}

.card {
 padding-left: 50%;
 padding-top: -50%;
}

.tela-inteira{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 50px;
}

.coluna2 {
  color: white;
  margin-top: 100px;
}


.resenhas{
  font-size:xx-large;
  font-family: Montserrat;
  color: white;
  padding-top: 80px;
  padding-left: 20px;
  text-align: center;
}

.review {
  background-color: #fc3a51;
  width: 50em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-left: 10em;
  font-size: large;
}

.estrelas {
  padding-left: 40em;
}
