<!DOCTYPE html>
<html lang="pt-br" ng-app="alurapic">
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="login.component.css" type="text/css">
      </head>

    <body>
        <div class="container">
            <img src="https://uploaddeimagens.com.br/images/003/586/064/full/wine_glass_icon_125583.png">
            <h1>LOGIN</h1>
           <input [(ngModel)]="usuario.email" type="text" id="email" class="validate" placeholder="email">
           <input [(ngModel)]="usuario.senha" type="password" id="senha" class="validate" placeholder="senha">
           <input (click)="onEntrar()" type="submit" name="action" placeholder="entrar">
           <h2>ainda não tem um cadastro? <br><a routerLink="/cadastro">Cadastre-se</a></h2>
        </div>
    </body>
</html>
