<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="pesquisa.component.css" type="text/css">
  </head>
  <body>
    <div class="container">
    <h2>Tipos de vinho</h2>
    <button type="button">Tinto</button>
    <button type="button">Branco</button>
    <button type="button">Vinho espumante</button>
    <br>
    <button type="button">Rosé</button>
    <button type="button">Sobremesa</button>
    <button type="button">Fortificado</button>

    <h2>Faixa de preços</h2>
    <mat-slider min="0" max="1500" step="0.5" value="1.5"></mat-slider>

    <h2>Classificação em estrelas</h2>
      <input type="radio" id="html" name="fav_language" value="HTML">
      <label for="4estrelas"> 4.2+ Muito Raro</label><br>
      <input type="radio" id="4estrelas" name="fav_language" value="4estrelas">
      <label for="3estrelase8"> 3.8+ Bom</label><br>
      <input type="radio" id="3estrelase8" name="fav_language" value="3estrelase8">
      <label for="3estrelase6"> 3.6+ Comum</label><br>
      <input type="radio" id="qualquer" name="fav_language" value="qualquer">
      <label for="qualquer">Qualquer classificação</label>
    <h2>Uvas</h2>

    <h2>Regiões</h2>

    <h2>Países</h2>

    <h2>Estilos de Vinho</h2>

    <h2>Harmonizações com comidas</h2>
  </div>
  </body>
</html>
