a {
  text-decoration: none;
}

.tela-toda {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

body {
  background-color: #0e2430;
  font-family: sans-serif;
  color: rgb(250, 250, 250);
  font-size: small;
  height: 160vh;
}

button {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #f9a799;
  padding: 5px 20px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  color: white;
  display: inline;
  margin-left: 5%;
  margin-top: 2%;
}

button:hover {
  background-color: #0e2430;
}

button:focus {
  background-color: #0e2430;
}

.search .pesquisa {
  width: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  border-right: 1px solid white;
  padding-right: 10px;
}

.search {
  margin: 0;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  position: relative;
  justify-items: center;
}


.search input {
  left: 5%;
  top: 0;
  color: white;
  background: transparent;
  outline: none;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0 10px 0 45px;
  width: 200px;
  height: 25px;
}

.search input::placeholder {
  color: white;
}

mat-slider {
  left: 20px;
}

.titulo {
  font-size: 500;
  font-weight: bold;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.coluna-1 {
  margin-top: 2%;
  background-color: #fc3a51;
  height: 100%;
}

.coluna-2 {
  margin-top: 2%;
}

h3 {
  text-align: center;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  margin-left: 5%;
  margin-top: 10%;
}

.radio2 {
  margin-left: 5%;
  font-size: medium;
}

.imagemVinho img {
  width: 70%
}

.imagemVinho {
  align-self: center;
}

.vinho {
  background-color: #fc3a51;
  margin: 2%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  border-radius: 15px;
}

.botoesVinho {
  align-self: center;
  margin: 3%
}
