<body>
  <div class="container">
    <div class="header-cadastrar">
      <h1>Adicionar Resenha</h1>
    </div>
    <div class="title">
        <h2>{{resenha.productName}}</h2>
      </div>
    <div class="card">
      <h2>Estrelas</h2>
      <div class="buttons">
        <div>
          <button value=1 id="estrelas" #ref1 (click)="resenha.estrelas = ref1.value" type="button">1</button>
          <button value=2 id="estrelas" #ref2 (click)="resenha.estrelas = ref2.value" type="button">2</button>
          <button value=3 id="estrelas" #ref3 (click)="resenha.estrelas = ref3.value" type="button">3</button>
          <button value=4 id="estrelas" #ref4 (click)="resenha.estrelas = ref4.value" type="button">4</button>
          <button value=5 id="estrelas" #ref5 (click)="resenha.estrelas = ref5.value" type="button">5</button>
        </div>
      </div>
      <br><br>
      <h2>Resenha</h2>
      <input [(ngModel)]="resenha.resenha" type="text" id="resenha" name="resenha"
        placeholder="Escreva aqui sua resenha">

    </div>
    <input (click)="onCadastrar()" type="submit" name="action" placeholder="Enviar" class="enviar">
  </div>

</body>
