<body>
<h1>CADASTRAR VINHO</h1>
<div class="container">
  Envie a imagem do seu rótulo: <input type="file" />
  <br><br>Nome da vinícula: <input type="text" id="vinicula" name="vinícula" placeholder="vinícula">
  <br><br>Nome do vinho:  <input type="text" id="vinho" name="vinho" placeholder="vinho">
</div>

    <h2>Tipos de vinho</h2>
    <button type="button">Tinto</button>
    <button type="button">Branco</button>
    <button type="button">Vinho espumante</button>
    <br>
    <button type="button">Rosé</button>
    <button type="button">Sobremesa</button>
    <button type="button">Fortificado</button>

    <h2>Uvas</h2>
    <button type="button">Cabernet Franc</button>
    <button type="button">Cabernet Sauvignon</button>
    <button type="button">Chardonnay</button>
    <button type="button">Grenache</button>
    <button type="button">Malbec</button>
    <button type="button">Merlot</button>
    <button type="button">Pinot Noir</button>
    <button type="button">Riesling</button>
    <button type="button">Sauvignon Blanc</button>
    <button type="button">Shiraz</button>

    <h2>Países</h2>
    <button type="button">Alemanha</button>
    <button type="button">Argentina</button>
    <button type="button">Austrália</button>
    <button type="button">Chile</button>
    <button type="button">Espanha</button>
    <button type="button">Estados Unidos</button>
    <button type="button">França</button>
    <button type="button">Itália</button>
    <button type="button">Portugal</button>
    <button type="button">Austria</button>

    <h2>Harmonizações</h2>
    <div class="search">
      <input type="text" placeholder="pesquise...">
      <img class="pesquisa" src="https://uploaddeimagens.com.br/images/003/587/426/full/search.png?1639523455">
      </div>
    </body>
