@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

body {
  background-color:#0e2430;
  height: 130vh;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h1{
  color: white;
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 30px;
}

.container{
  padding-left: 30px;
}

button {
  border: 0;
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #f9a799;
  padding: 5px 20px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  color: white;
  display: inline;
  margin-left: 20px;
}

button:hover{
  background-color:#fc3a51;
}

button:active{
  background-color: #fc3a51;
}

.search .pesquisa {
  width: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  border-right: 1px solid white;
  padding-right: 10px;

}

.search {
  position: relative;
  width: 200px;
  height: 25px;
  left: 2%;
}

.search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: transparent;
  outline: none;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0 10px 0 45px;
}

 .search input::placeholder {
  color: white;
}

mat-slider{
  left: 10px;
}

.titulo {
  font-size: 500;
  font-weight: bold;
}

h2 {
  padding-top: 20px;
  margin-left: 20px;
}

input [type=text]{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: transparent;
  outline: none;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0 10px 0 45px;
}
